

.carousel-inner{
    height: 60vh;
    width: 50vw;
    margin: auto;
}

.carouselheader{
    text-align: center;
    font-family: 'PT Serif', serif;
    margin-bottom: 1em;
}

.carouselcontainer{
    padding-bottom: 2em;
    margin-top: 8em;
}
