
.Introductionrow {
    height: 100vh;
}

.city {
    margin-top: 8em;
    text-align: center;

    h1 {
        font-family: 'Lora', serif;
        font-size: 3em;
        margin-bottom: 0.5em;
        -webkit-animation: tracking-in-contract 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: tracking-in-contract 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    @-webkit-keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }

    @keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: 0.1em;
            opacity: 1;
        }
    }

    p {

        font-family: 'Oswald', sans-serif;
    }
}

/*
.venuepicture {
    background-image: url("/images/art-gallery-pic.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -10;

}

*/